body {
    background-color: #fcf9e2;
    font-family: Marvel, sans-serif;
    font-size: 1.5em;
}

#accept-cookie {
    font-size: 0.7em;
    background-color: #f8f1ba;
    padding: 0.5em;
}

h1 {
    font-style: italic;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container>div {
    text-align: center;
    margin: 0 3em 2em 3em;
}

#help {
    margin: 0 1em 0 1em;
}

#share {
    display: flex;
}

#share>* {
    margin: 0.1em;
}

#qr-code {
    margin: 1em;
}

#error-msg {
    font-weight: 700;
    color: red;
}

input, select, button {
    background-color: #fcf9e2;
    font-size: 1em;
    height: 1.5em;
    border-radius: 0.5em;
    border: 2px solid #888a85;
    font-family: Marvel, sans-serif;
    font-weight: 700;
}

input[type="text"] {
    padding: 0.2em;
}

input[type="text"]::-webkit-input-placeholder {
   color: #555753;
}
input[type="text"]::-moz-placeholder {
   color: #555753; 
}
input[type="text"]:-ms-input-placeholder { 
    color: #555753;
} 

input[type="submit"]:hover, button:hover{
    background-color: #f8f1ba;
}

input[type="text"]:focus, select:focus, input[type="submit"]:focus, button:focus {
    outline: none;
}

#timer {
    width: 100%;
    text-align: center;
    font-size: 4em;
    margin: 0;
}

#players-list li[data="off"], #location-list li[data="off"] {
    text-decoration: line-through;
}

footer {
    text-align: center;
    font-size: 0.6em;
}
